:root{
	--color-White:#fff;
	--color-Gray: #cccccc;
	--color-NavbarTop:#131921;
	--color-SubNavbar:#232F3E;
	--color-Orange:#FEBD69;
	--color-OrangeDark:#F3A847;
	--color-OrangeText:#F08804;
	--color-GrayDark: #565959;
	--color-Green: #007600;
	--color-Border : rgb(223, 223, 223);
}